In [20]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [21]:
df = pd.read_csv('movies_metadata.csv')

In [22]:
df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [23]:
df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [25]:
df.shape

(45466, 24)

In [26]:
df.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [27]:
df.duplicated().sum()

np.int64(13)

In [28]:
df = df.drop_duplicates().reset_index(drop = True)

In [29]:
df.duplicated().sum()

np.int64(0)

In [30]:
df = df[['title', 'overview', 'genres','tagline','vote_average','popularity']]

In [31]:
df

,title,overview,genres,tagline,vote_average,popularity
0,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",NaN,7.7,21.946943
1,Jumanji,When siblings Judy and Peter discover an encha...,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",Roll the dice and unleash the excitement!,6.9,17.015539
2,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",Still Yelling. Still Fighting. Still Ready for...,6.5,11.7129
3,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",Friends are the people who let you be yourself...,6.1,3.859495
4,Father of the Bride Part II,Just when George Banks has recovered from his ...,"[{'id': 35, 'name': 'Comedy'}]",Just When His World Is Back To Normal... He's ...,5.7,8.387519
...,...,...,...,...,...,...
45448,Subdue,Rising and falling between a man and woman.,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",Rising and falling between a man and woman,4.0,0.072051
45449,Century of Birthing,An artist struggles to finish his work while a...,"[{'id': 18, 'name': 'Drama'}]",NaN,9.0,0.178241
45450,Betrayal,"When one of her hits goes wrong, a professiona...","[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",A deadly game of wits.,3.8,0.903007
45451,Satan Triumphant,"In a small town live two brothers, one a minis...",[],NaN,0.0,0.003503
45452,Queerama,50 years after decriminalisation of homosexual...,[],NaN,0.0,0.163015

In [32]:
df.isnull().sum()

title               6
overview          954
genres              0
tagline         25045
vote_average        6
popularity          5
dtype: int64

In [33]:
df = df.dropna(subset=['title']) #remove the movie which has no title here there are 6 movies that have o titles

In [34]:
df.isnull().sum()

title               0
overview          954
genres              0
tagline         25039
vote_average        0
popularity          0
dtype: int64

In [35]:
df['overview'] = df['overview'].fillna('') #fill null overview with ''

In [36]:
df.isnull().sum()

title               0
overview            0
genres              0
tagline         25039
vote_average        0
popularity          0
dtype: int64

In [38]:
df.iloc[0]['genres']

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [39]:
import ast

In [40]:
df['genres'] = df['genres'].apply(lambda x :" ".join([i['name'] for i in ast.literal_eval(x)])) 
#This line converts the genres column from a string of dictionaries into a clean string of genre names.
#ast.literal_eval() safely converts a string representation of a Python object into the actual object.

In [41]:
df.head()

,title,overview,genres,tagline,vote_average,popularity
0,Toy Story,"Led by Woody, Andy's toys live happily in his ...",Animation Comedy Family,NaN,7.7,21.946943
1,Jumanji,When siblings Judy and Peter discover an encha...,Adventure Fantasy Family,Roll the dice and unleash the excitement!,6.9,17.015539
2,Grumpier Old Men,A family wedding reignites the ancient feud be...,Romance Comedy,Still Yelling. Still Fighting. Still Ready for...,6.5,11.7129
3,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",Comedy Drama Romance,Friends are the people who let you be yourself...,6.1,3.859495
4,Father of the Bride Part II,Just when George Banks has recovered from his ...,Comedy,Just When His World Is Back To Normal... He's ...,5.7,8.387519

In [42]:
df['tagline'] = df['tagline'].fillna('')

In [43]:
df['tags'] = df['overview']+ " " + df['genres'] +" "+ df['tagline']

In [44]:
df.head()

,title,overview,genres,tagline,vote_average,popularity,tags
0,Toy Story,"Led by Woody, Andy's toys live happily in his ...",Animation Comedy Family,,7.7,21.946943,"Led by Woody, Andy's toys live happily in his ..."
1,Jumanji,When siblings Judy and Peter discover an encha...,Adventure Fantasy Family,Roll the dice and unleash the excitement!,6.9,17.015539,When siblings Judy and Peter discover an encha...
2,Grumpier Old Men,A family wedding reignites the ancient feud be...,Romance Comedy,Still Yelling. Still Fighting. Still Ready for...,6.5,11.7129,A family wedding reignites the ancient feud be...
3,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",Comedy Drama Romance,Friends are the people who let you be yourself...,6.1,3.859495,"Cheated on, mistreated and stepped on, the wom..."
4,Father of the Bride Part II,Just when George Banks has recovered from his ...,Comedy,Just When His World Is Back To Normal... He's ...,5.7,8.387519,Just when George Banks has recovered from his ...

### Now NLP
* to process the text we have to convert our text into numbers,tokens,tokenization etc.. lets see

In [47]:
df['tags'][1]

"When siblings Judy and Peter discover an enchanted board game that opens the door to a magical world, they unwittingly invite Alan -- an adult who's been trapped inside the game for 26 years -- into their living room. Alan's only hope for freedom is to finish the game, which proves risky as all three find themselves running from giant rhinoceroses, evil monkeys and other terrifying creatures. Adventure Fantasy Family Roll the dice and unleash the excitement!"

In [48]:
df['overview'][1]

"When siblings Judy and Peter discover an enchanted board game that opens the door to a magical world, they unwittingly invite Alan -- an adult who's been trapped inside the game for 26 years -- into their living room. Alan's only hope for freedom is to finish the game, which proves risky as all three find themselves running from giant rhinoceroses, evil monkeys and other terrifying creatures."

In [51]:
#remove punctuation,remove stopwords
#using lemmatizing (eg: ending-->end)

In [52]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import re

In [53]:
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Yash\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Yash\AppData\Roaming\nltk_data...

True

Think of WordNet like a dictionary + thesaurus + word relationship graph

Example

Word: movie

WordNet gives:

film

motion picture

picture

All are related meanings

What is WordNetLemmatizer?

🧠 Definition

WordNetLemmatizer is a tool that uses WordNet to convert words into their base form (lemma).(running-->run)

In [60]:
stop_words = stopwords.words('english')
print(stop_words)
len(stop_words)

['a', 'about', 'above', 'after', 'again', 'against', 'ain', 'all', 'am', 'an', 'and', 'any', 'are', 'aren', "aren't", 'as', 'at', 'be', 'because', 'been', 'before', 'being', 'below', 'between', 'both', 'but', 'by', 'can', 'couldn', "couldn't", 'd', 'did', 'didn', "didn't", 'do', 'does', 'doesn', "doesn't", 'doing', 'don', "don't", 'down', 'during', 'each', 'few', 'for', 'from', 'further', 'had', 'hadn', "hadn't", 'has', 'hasn', "hasn't", 'have', 'haven', "haven't", 'having', 'he', "he'd", "he'll", 'her', 'here', 'hers', 'herself', "he's", 'him', 'himself', 'his', 'how', 'i', "i'd", 'if', "i'll", "i'm", 'in', 'into', 'is', 'isn', "isn't", 'it', "it'd", "it'll", "it's", 'its', 'itself', "i've", 'just', 'll', 'm', 'ma', 'me', 'mightn', "mightn't", 'more', 'most', 'mustn', "mustn't", 'my', 'myself', 'needn', "needn't", 'no', 'nor', 'not', 'now', 'o', 'of', 'off', 'on', 'once', 'only', 'or', 'other', 'our', 'ours', 'ourselves', 'out', 'over', 'own', 're', 's', 'same', 'shan', "shan't", 'she', "she'd", "she'll", "she's", 'should', 'shouldn', "shouldn't", "should've", 'so', 'some', 'such', 't', 'than', 'that', "that'll", 'the', 'their', 'theirs', 'them', 'themselves', 'then', 'there', 'these', 'they', "they'd", "they'll", "they're", "they've", 'this', 'those', 'through', 'to', 'too', 'under', 'until', 'up', 've', 'very', 'was', 'wasn', "wasn't", 'we', "we'd", "we'll", "we're", 'were', 'weren', "weren't", "we've", 'what', 'when', 'where', 'which', 'while', 'who', 'whom', 'why', 'will', 'with', 'won', "won't", 'wouldn', "wouldn't", 'y', 'you', "you'd", "you'll", 'your', "you're", 'yours', 'yourself', 'yourselves', "you've"]

198

In [61]:
stop_words = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()

In [62]:
def preprocess_text(text):
  #lowercase
  text = str(text).lower()
  #removed the punctuations
  text = re.sub(r'[^a-zA-Z\s]', '', text) #If text contains anything other than letters or spaces, remove it completely.

  words = text.split() #To convert text (sentence) into a list of words(Computers can’t process sentences easily — they need tokens (words))
  #remove stopwords
  words = [word for word in words if word not in stop_words] #Keep only words that are NOT in stopwords list

  #lemmatize
  words = [lemmatizer.lemmatize(word) for word in words]

  return " ".join(words)

In [63]:
df['tags'] = df['tags'].apply(preprocess_text)

In [64]:
df['tags'][1]

'sibling judy peter discover enchanted board game open door magical world unwittingly invite alan adult who trapped inside game year living room alans hope freedom finish game prof risky three find running giant rhinoceros evil monkey terrifying creature adventure fantasy family roll dice unleash excitement'

In [67]:
df = df.reset_index(drop = True)

### now vectorization

In [68]:
indices = pd.Series(df.index,index = df['title']).drop_duplicates()
indices

title
Toy Story                          0
Jumanji                            1
Grumpier Old Men                   2
Waiting to Exhale                  3
Father of the Bride Part II        4
                               ...
Subdue                         45442
Century of Birthing            45443
Betrayal                       45444
Satan Triumphant               45445
Queerama                       45446
Length: 45447, dtype: int64

In [69]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [70]:
tfidf = TfidfVectorizer(max_features=50000,ngram_range=(1,2),stop_words='english')

✅ max_features=50000 → Dataset ke sab text me se top 50k most important words/phrases hi vocabulary me rakhta hai taaki model fast aur memory efficient rahe.

✅ ngram_range=(1,2) → Single words (unigrams) aur 2-word phrases (bigrams) dono ko features ke roop me include karta hai (jaise “science” + “science fiction”).

✅ TF-IDF → Text ko numerical vectors me convert karta hai based on word importance.

✅ TF (Term Frequency) → Word document me kitni baar aaya.

✅ IDF (Inverse Document Frequency) → Rare words ko zyada importance deta hai, common words ko kam.

✅ max_features → Vocabulary size limit karta hai (top important words hi rakhta hai).

✅ ngram_range → Single words aur phrases ko features me include karta hai.

In [71]:
tfidf_matrix = tfidf.fit_transform(df['tags'])

In [72]:
tfidf_matrix

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 1548114 stored elements and shape (45447, 50000)>

In [ ]:
#now the shape of my matrix is [45447*50000]

### Cosine Similarity

✅ Cosine Similarity → Do vectors (documents/movies) ke beech similarity measure karta hai angle ke basis par.

✅ Range → Value −1 se 1 tak hoti hai, but text similarity me usually 0 to 1.

✅ 1 → Exactly same content
✅ 0 → No similarity

🧠 Formula
cosine similarity=A⋅B/|A||B|

👉 Dot product divided by magnitude

🎬 In recommendation systems

👉 Movie vectors (TF-IDF) ke beech similarity calculate karke similar movies recommend karta hai.

📊 Example intuition

Movie 1 → action adventure space
Movie 2 → action space

👉 High similarity

Movie 3 → romantic drama

👉 Low similarity
One line summary

👉 Cosine similarity vectors ke beech angle compare karke similarity score nikalta hai.

In [73]:
from sklearn.metrics.pairwise import cosine_similarity

In [74]:
def recommend(title, n = 10):
    # Check if the movie title exists in our indices dictionary
    if title not in indices:
        return ['Movie not found']  # If not found, return message

    # Get the index of the given movie
    idx = indices[title]

    # Calculate cosine similarity between this movie vector
    # and all other movie vectors in the TF-IDF matrix
    # Result is a similarity score array
    sim_score = cosine_similarity(tfidf_matrix[idx], tfidf_matrix).flatten()

    # argsort() sorts indices based on similarity scores
    # [::-1] reverses to get highest similarity first
    # [1:n+1] skips the first one (itself) and takes top n similar movies
    similar_idx = sim_score.argsort()[::-1][1:n+1]

    # Return titles of the similar movies using their indices
    return df['title'].iloc[similar_idx]

In [90]:
recommend('Avatar')

26547                  Avatar 2
13883      The Inhabited Island
26553            Thor: Ragnarok
43431    Moontrap: Target Earth
14119      The Three Musketeers
9949         A Trip to the Moon
43983       Nightmare City 2035
28403    France société anonyme
20372                    Désiré
28633      Stand by Me Doraemon
Name: title, dtype: object

In [86]:
import pickle
pickle.dump(tfidf_matrix,open('tfidf_matrix.pkl','wb'))
pickle.dump(indices,open('indices.pkl','wb'))
df.to_pickle('df.pkl')
pickle.dump(tfidf,open('tfidf.pkl','wb'))

In [91]:
history

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
df = pd.read_csv('movies_metadata.csv')
df
df.columns
df.info()
df.shape()
df.shape
df.isnull.sum()
df.isnull().sum()
df.isduplicated.sum()
df.duplicated.sum()
df.duplicated.sum
df.duplicated().sum()
df = df.drop_duplicates().reset_index(drop = True)
df.duplicated().sum()
df = df[['title', 'overview', 'genres','tagline','vote_average','popularity']]
df
df = df.dropna(subset=['title'])
df.isnull().sum()
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
df = pd.read_csv('movies_metadata.csv')
df
df.columns
df.info()
df.shape
df.isnull().sum()
df.duplicated().sum()
df = df.drop_duplicates().reset_index(drop = True)
df.duplicated().sum()
df = df[['title', 'overview', 'genres','tagline','vote_average','popularity']]
df
df.isnull().sum()
df = df.dropna(subset=['title'])
df.isnull().sum()
df['overview'] = df['overview'].fillna('') #fill null overview with ''
df.isnull().sum()
df.iloc[0]['genres'] #
df.iloc[0]['genres']
import ast
df['genres'] = df['genres'].apply(lambda x :" ".join([i['name'] for i in ast.literal_eval(x)]))
df.head()
df['tagline'] = df['tagline'].fillna('')
df['tags'] = df['overview']+ " " + df['genres'] +" "+ df['tagline']
df.head()
df['tags'][0]
df['overview'][0]
df['tags'][1]
df['overview'][1]
#remove punctuation,remove stopwords
#remove punctuation,remove stopwords
#using lametizing (eg: ending-->end)
#remove punctuation,remove stopwords
#using lemmatizing (eg: ending-->end)
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import re
nltk.download('stopwords')
nltk.download('wordnet')
stopword
stopwords
stop_words = stopwords.words('english')
print(stop_words)
stop_words = stopwords.words('english')
print(stop_words)
stop_word.count()
stop_words = stopwords.words('english')
print(stop_words)
stop_words.count()
stop_words = stopwords.words('english')
print(stop_words)
stop_words.count
stop_words = stopwords.words('english')
print(stop_words)
len(stop_words)
stop_words = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()
def preprocess_text(text):
  #lowercase
  text = str(text).lower()
  #removed the punctuations
  text = re.sub(r'[^a-zA-Z\s]', '', text) #If text contains anything other than letters or spaces, remove it completely.

  words = text.split() #To convert text (sentence) into a list of words(Computers can’t process sentences easily — they need tokens (words))
  #remove stopwords
  words = [word for word in words if word not in stop_words] #Keep only words that are NOT in stopwords list

  #lemmatize
  words = [lemmatizer.lemmatize(word) for word in words]

  return " ".join(words)
df['tags'] = df['tags'].apply(preprocess_text)
df['tags'][1]
### now vectorization
df = df.reset_index(drop = True)
df = df.reset_index(drop = True)
indices = pd.Series(df.index,index = df['title']).drop_duplicates()
indices
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_features=50000,ngram_range=(1,2),stop_words='english')
tfidf_matrix = tfidf.fit_transform(df['tags'])
tfidf_matrix
from sklearn.metrics.pairwise import cosine_similarity
def recommend(title, n = 10):
    # Check if the movie title exists in our indices dictionary
    if title not in indices:
        return ['Movie not found']  # If not found, return message

    # Get the index of the given movie
    idx = indices[title]

    # Calculate cosine similarity between this movie vector
    # and all other movie vectors in the TF-IDF matrix
    # Result is a similarity score array
    sim_score = cosine_similarity(tfidf_matrix[idx], tfidf_matrix).flatten()

    # argsort() sorts indices based on similarity scores
    # [::-1] reverses to get highest similarity first
    # [1:n+1] skips the first one (itself) and takes top n similar movies
    similar_idx = sim_score.argsort()[::-1][1:n+1]

    # Return titles of the similar movies using their indices
    return df['title'].iloc[similar_idx]
recommend('Toy Story')
recommend('Toy Story',5)
recommend('Toy Story')
recommend('Avenger')
recommend('Jumanji ')
recommend('Jumanji')
recommend('Jumanji ')
recommend('Jumanji')
import pickle
pickle.dump(tfidf_matrix,open('tfidf_matrix.pkl','wb'))
pickle.dump(indices,open('indices.pkl','wb'))
df.to_pickle('df.pkl')
pickle.dump(tfidf,open('tfidf.pkl','wb'))
recommend('Avenger')
recommend('Avenger')
import pickle
pickle.dump(tfidf_matrix,open('tfidf_matrix.pkl','wb'))
pickle.dump(indices,open('indices.pkl','wb'))
df.to_pickle('df.pkl')
pickle.dump(tfidf,open('tfidf.pkl','wb'))
recommend('Avenger')
recommend('Avatar')
recommend('Avatar ')
recommend('Avatar')
history